body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

header {
    text-align: center;
    flex: 1;
}

h1 {
    font-size: 3rem;
}

h4 {
    padding: 0;
    font-size: 1.5rem;
}
#game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    flex: 5;
}

#placement {
    /* border: 1px solid black; */
    width: 34%;
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
}

.placement-square {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    height: 95%;
    width: 95%;  
    border-radius: 50%;
    display: inline-block;
  }

.placement-circle {
    background-color: white;
}

.placement-circle-player1:hover {
    background-color: red;

}

.placement-circle-player2:hover {
    background-color: blue;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    height: auto;
    width: 34%;
    flex: 6;
    background-color: wheat;
}

.column {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

/* Stop overlapping borders */
.column:not(:first-child) {
    border-left: none;
}

.row {
    /* Only top and bottom, column will handle left and right */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Stop overlapping borders */
.row:not(:first-child) {
    border-top: none;
}



 .board-circle {
    background-color: #FFF;
 }

 footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;

 }

 button {
     background-color: #dddbdb;
     box-shadow: none;
     border: none;
     border-radius: 10px;
     font-size: 1.4rem;
     height: 3rem;
     width: 11rem;
 }

 button:hover {
     background-color: #bebebe;
 }

  
